/*
パス記述に注意
読み込み先からのパスになる

.scss にし
読み込み元と同階層に作成することが望ましい
*/
@font-face {
  font-family: TTBold;
  font-style: normal;
  font-weight: 400;
  src: url("../font/TT-Bold.eot");
  src: url("../font/TT-Bold.eot?#iefix") format("embedded-opentype"),
  url("../font/TT-Bold.ttf") format("truetype"),
  url("../font/TT-Bold.woff"),
  url("../font/TT-Bold.woff2");
}
