@import '../../../src-scss/asset';

.panel {
    position: relative;
    width: 100%;
    background-color: #222;
    border-radius: $radius;
    overflow: hidden;
    > header{
       padding: 0 $screen-padding;
      }
    > div{
      margin: 0 $screen-padding/2;
      padding: $screen-padding;
      border-radius: $radius/2;
      box-shadow: $shadow-inset;
      background-color: darken(#222, 3);
    }
    > footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $screen-padding/2;
      padding: $screen-padding/2;
      button{
        font-weight: 700;
        padding: $screen-padding/2 $screen-padding/2;
        &[type="button"]{
          color: $alert-color;
          background-color: #222;
          &:hover:after{
            content: '';
            border: 2px solid $alert-color;
          }
        }
      }
  }
}